* {
    padding: 0;
    margin: 0;
}

:root {
    --color-primary: #FEA301;
    --color-secondary: #111;
    --color-white: #fff;
    --title-font: "Quicksand", serif;
    --body-font: "Raleway", serif;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: var(--title-font);
}

body {
    font-family: var(--title-font);
    font-size: 16px;
    font-weight: 400;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    transition: all ease 0.4s
}

img {
    max-width: 100%
}

.container {
    max-width: 1160px;
    margin: 0 auto;
}

.theme-btn {
    display: inline-block;
    color: var(--color-white);
    font-family: var(--title-font);
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    padding: 15px 60px;
    background-color: var(--color-primary);
    border-radius: 12px;
}

.theme-btn:hover {
    background-color: var(--color-secondary);
}

.orange-color {
    color: var(--color-primary);
}

.blue-color {
    color: #01ACFD !important;
}

.cyan-blue {
    color: #05D4DF !important;
}

.indigo-blue {
    color: #5D58EF !important;
}

.d-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* header styles */
.header {
    margin-top: 20px;
}

.header-logo-wrapper .text {
    color: var(--color-secondary);
    font-size: 32px;
    font-weight: 700;
    line-height: 30px;
}

.header-menu ul li a {
    color: var(--color-primary);
    font-family: var(--title-font);
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    margin-right: 32px;
}

.header-menu ul li a:hover {
    color: var(--color-secondary) !important;
}

.menubar {
    display: none;
    font-size: 30px;
}

/* Hero Section Styles */
.hero-section {
    margin-top: 120px;
}

.hero-title {
    color: var(--color-secondary);
    font-size: 56px;
    font-weight: 700;
    line-height: 61px;
    margin-bottom: 15px;
}

.hero-description {
    color: var(--color-secondary);
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 25px;
}

.hero-section .theme-btn {
    background-color: var(--color-secondary);
}

.hero-section .theme-btn:hover {
    background-color: var(--color-primary);
}

/* Responsive Styles */
@media only screen and (max-width: 576px) {

    /* Navbar Styles */
    .header-logo-wrapper .text,
    .header-menu,
    .header-btn {
        display: none;
    }

    .menubar {
        display: block;
    }

    .container {
        padding: 0 20px;
    }

    .header .nav.container {
        border-bottom: 1px solid var(--color-primary);
        padding-bottom: 15px;
    }

    /* Hero Section Styles */
    .hero-section {
        margin-top: 40px;
    }

    .hero-img {
        margin-bottom: 20px;
    }

    .hero-section .d-flex {
        flex-direction: column-reverse;
    }

    .hero-content {
        text-align: center;
    }

    .hero-title {
        font-size: 32px;
    }

    .hero-description {
        font-size: 14px;
        font-weight: 500;
    }

    .theme-btn {
        font-size: 16px;
        font-weight: 700;
        padding: 12px 24px;
    }

}