* {
    padding: 0;
    margin: 0;
}

:root {
    --color-primary: #FEA301;
    --color-secondary: #111;
    --color-white: #fff;
    --color-para: #808080;
    --title-font: "Quicksand", serif;
    --body-font: "Raleway", serif;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: var(--title-font);
}

p {
    font-size: 16px;
    color: var(--color-para);
    line-height: 26px;
}

body {
    font-family: var(--title-font);
    font-size: 16px;
    font-weight: 400;
    background: #F7F7F7;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    transition: all ease 0.4s
}

img {
    max-width: 100%
}

.container {
    max-width: 1160px;
    margin: 0 auto;
}

.theme-btn {
    display: inline-block;
    color: var(--color-white);
    font-family: var(--title-font);
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    padding: 15px 60px;
    background-color: var(--color-primary);
    border-radius: 12px;
}

.theme-btn:hover {
    background-color: var(--color-secondary);
}

.secondary-btn {
    font-size: 15.091px;
    font-weight: 700;
    line-height: 28.296px;
}

.secondary-btn:hover {
    color: var(--color-secondary) !important;
}

.orange-color {
    color: var(--color-primary);
}

.blue-color {
    color: #01ACFD !important;
}

.cyan-blue {
    color: #05D4DF !important;
}

.indigo-blue {
    color: #5D58EF !important;
}

.light-blue {
    color: #64C8FF !important;
}

.purple-color {
    color: #8700FF !important;
}

.blue-bg {
    border: 1px solid #DEF5FF;
    background: linear-gradient(180deg, #DEF5FF 0%, rgba(255, 255, 255, 0.00) 40%), #FFF;
    box-shadow: 0px 0px 28.296px 0.943px rgba(0, 0, 0, 0.05) inset;
}

.blue-bg-3 {
    background-color: #01ACFD;
}

.orange-bg {
    border: 1px solid #FFF4DC;
    background: linear-gradient(180deg, #FFF4DC 0%, rgba(255, 255, 255, 0.00) 40%), #FFF;
    box-shadow: 0px 0px 28.296px 0.943px rgba(0, 0, 0, 0.05) inset;
}

.purple-bg {
    border: 1px solid #F2E8FF;
    background: linear-gradient(180deg, #EEE1FF 0%, rgba(255, 255, 255, 0.00) 40%), #FFF;
    box-shadow: 0px 0px 28.296px 0.943px rgba(0, 0, 0, 0.05) inset;
}

.green-bg {
    background: #95B226 !important;
}

.light-blue-bg {
    background: #3CD8E8 !important;
}

.blue-bg2 {
    background: #5D58F0 !important;
}

.fb-color {
    background: #3B5998;
}

.dribble-color {
    background: #EA4C89;
}

.twitter-color {
    background: #1DA1F2;
}

.google-plus-color {
    background: #DD4B39;
}

.d-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.d-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}


.text-center {
    text-align: center;
}

.section-padding {
    padding-bottom: 60px;
}

.section-title {
    color: var(--color-secondary);
    font-size: 46px;
    font-weight: 700;
    line-height: 57.5px;
    margin-bottom: 80px;
}

/* header styles */
.header {
    margin-top: 20px;
}

.header-logo-wrapper .text {
    color: var(--color-secondary);
    font-size: 32px;
    font-weight: 700;
    line-height: 30px;
}

.header-menu ul li a {
    color: var(--color-primary);
    font-family: var(--title-font);
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    margin-right: 32px;
}

.header-menu ul li a:hover {
    color: var(--color-secondary) !important;
}

.menubar {
    display: none;
    font-size: 30px;
}

/* Hero Section Styles */
.hero-section {
    margin-top: 120px;
    padding-bottom: 60px;
}

.hero-title {
    color: var(--color-secondary);
    font-size: 56px;
    font-weight: 700;
    line-height: 61px;
    margin-bottom: 15px;
}

.hero-description {
    color: var(--color-secondary);
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 25px;
}

.hero-section .theme-btn {
    background-color: var(--color-secondary);
}

.hero-section .theme-btn:hover {
    background-color: var(--color-primary);
}

/* Service Section Style */

.service-card {
    border-radius: 18.864px;
    padding: 52px 40px;
}

.service-card img {
    padding-bottom: 20px;
}

.service-title {
    color: var(--color-secondary);
    font-size: 24.523px;
    font-weight: 700;
    line-height: 30.654px;
    padding-bottom: 21px;
}

.service-desc {
    color: var(--color-para);
    font-family: var(--body-font);
    font-size: 15px;
    font-weight: 500;
    line-height: 28.296px;
    margin-bottom: 20px;
}

.service-navigation a {
    border-radius: 30px;
    background: var(--Orange, #FEA301);
    height: 60px;
    width: 60px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--color-white);
}

.service-navigation {
    margin-top: 80px;
}

.service-navigation a:hover {
    background-color: var(--color-secondary);
}

/* Our Stories Styles */
.stories-section {
    background: linear-gradient(0deg, rgba(254, 163, 1, 0.30) 0%, rgba(255, 255, 255, 0.30) 100%),
        url('../images/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 60px 0 190px 0;
}

.stories-card-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 20px;
}

.stories-card-wrapper .stories-card:first-child {
    grid-row: 1 / 3;
}

.stories-card {
    border-radius: 16px;
    background-color: var(--color-white);
    overflow: hidden;
}

.stories-title {
    color: var(--color-secondary);
    font-size: 24px;
    font-weight: 700;
    line-height: 38.347px;
}

.stories-desc {
    color: var(--color-para);
    font-size: 16px;
    font-weight: 500;
    line-height: 28.761px;
}

.stories-img-wrapper {
    position: relative;
}

.stories-img-wrapper img {
    width: 100%;
}

.stories-card .theme-btn {
    font-family: var(--body-font);
    font-size: 16px;
    font-weight: 500;
    line-height: 28.761px;
    border-radius: 100px;
    padding: 7px 20px;
    position: absolute;
    bottom: -14px;
    left: 38px;
    border: none;
}

.stories-card .theme-btn:hover {
    background-color: var(--color-secondary) !important;
}

.stories-title a {
    color: var(--color-secondary);
}

.stories-title a:hover {
    color: var(--color-primary);
}

.stories-content,
.right-card .stories-title {
    padding: 38px;
}

.stories-content .stories-title {
    margin-bottom: 50px;
}

.right-card .stories-title {
    font-size: 16px;
    font-weight: 700;
    line-height: 28.761px;
}

.view-all-btn {
    margin-top: 80px;
}

.view-all-btn .theme-btn {
    background-color: var(--color-secondary);
}

.view-all-btn .theme-btn:hover {
    background-color: var(--color-primary);
}

/* Footer Styles */

.footer-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
}

.footer-section {
    padding: 120px 0;
}

.footer-company-info {
    margin-right: 180px;
}

.footer-widget a.header-logo-wrapper {
    justify-content: unset;
}

.footer-text {
    color: var(--color-white);
}

.footer-company-desc {
    color: var(--color-white);
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    margin-top: 30px;
}

.widget-text {
    color: var(--color-white);
    font-size: 24px;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 30px;
}

.quick-links ul li a {
    display: inline-block;
    color: var(--color-white);
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 20px;
}

.quick-links ul li a:hover {
    color: var(--color-secondary);
}

.socials .d-flex {
    justify-content: unset;
    gap: 5px;
}

.socials ul li a {
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    color: var(--color-white);
    border-radius: 5px;
}


/* Responsive Styles */
@media only screen and (max-width: 576px) {

    /* Navbar Styles */
    .header-logo-wrapper .text,
    .header-menu,
    .header-btn,
    .service-navigation {
        display: none;
    }

    .menubar {
        display: block;
    }

    .container {
        padding: 0 20px;
    }

    .header .nav.container {
        border-bottom: 1px solid var(--color-primary);
        padding-bottom: 15px;
    }

    /* Hero Section Styles */
    .hero-section {
        margin-top: 40px;
    }

    .hero-img {
        margin-bottom: 20px;
    }

    .hero-section .d-flex {
        flex-direction: column-reverse;
    }

    .hero-content {
        text-align: center;
    }

    .hero-title {
        font-size: 32px;
        line-height: normal;
    }

    .hero-description {
        font-size: 14px;
        font-weight: 500;
    }

    .theme-btn {
        font-size: 16px;
        font-weight: 700;
        padding: 12px 24px;
    }

    /* Service Section Styles */
    .service-card-wrapper.d-grid {
        grid-template-columns: repeat(1, 1fr);
        gap: 15px;
    }

    .section-title {
        margin-bottom: 20px;
    }

}